[Unit]
Description=WebSocket Client Service with Speech Recognition
After=graphical.target

[Service]
Type=simple
User=avelgar
Group=avelgar
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/avelgar/.Xauthority
WorkingDirectory=/home/avelgar/friday_client/
ExecStart=/home/avelgar/myenv/bin/python3 /home/avelgar/friday_client/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
